mxnet==1.5.0
setuptools
gluoncv

numpy
matplotlib
wheel
pathlib
seaborn
SpeechRecognition
pip3
python-pyaudio 
python3-pyaudio
pyaudio
pydub
gTTS
IPython
transformers
streamlit
open_clip_torch
huggingface_hub
torch
torchvision
