mxnet==1.5.0
setuptools
torch>=1.4.0,<2.0.0
gluoncv
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
matplotlib
wheel
pathlib
seaborn
sounddevice
soundfile
audiolazy
SpeechRecognition
pydub
gTTS
IPython
transformers
streamlit
open_clip_torch
huggingface_hub
torchvision
opencv-python-headless
