mxnet==1.5.0
setuptools
gluoncv

numpy
matplotlib

pathlib
seaborn
SpeechRecognition
libasound-dev
portaudio19-dev 
libportaudio2 
libportaudiocpp0
ffmpeg 
libav-tools
hashlib
pyaudio
pydub
gTTS
IPython
transformers
streamlit
open_clip_torch
huggingface_hub
torch
torchvision
